body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1090px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:659px;
}
#u1508 {
  position:absolute;
  left:512px;
  top:150px;
  width:327px;
  height:659px;
}
#u1509 {
  position:absolute;
  left:2px;
  top:322px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1510 {
  position:absolute;
  left:40px;
  top:16px;
  width:950px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1511 {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  word-wrap:break-word;
}
#u1512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2px;
}
#u1512 {
  position:absolute;
  left:40px;
  top:63px;
  width:1050px;
  height:1px;
}
#u1513 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1514 {
  position:absolute;
  left:40px;
  top:99px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1515 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1516 {
  position:absolute;
  left:40px;
  top:149px;
  width:100px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1517 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1516_input {
  position:absolute;
  left:-3px;
  top:1px;
}
#u1518 {
  position:absolute;
  left:40px;
  top:178px;
  width:100px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1519 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1518_input {
  position:absolute;
  left:-3px;
  top:1px;
}
#u1520 {
  position:absolute;
  left:40px;
  top:208px;
  width:100px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1521 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1520_input {
  position:absolute;
  left:-3px;
  top:1px;
}
#u1522 {
  position:absolute;
  left:40px;
  top:237px;
  width:83px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1523 {
  position:absolute;
  left:16px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1522_input {
  position:absolute;
  left:-3px;
  top:1px;
}
#u1524 {
  position:absolute;
  left:123px;
  top:235px;
  width:136px;
  height:25px;
}
#u1524_input {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1525 {
  position:absolute;
  left:40px;
  top:292px;
  width:262px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1526 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u1527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1527 {
  position:absolute;
  left:512px;
  top:99px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1528 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1529 {
  position:absolute;
  left:532px;
  top:247px;
  width:282px;
  height:482px;
}
#u1529_input {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:482px;
}
#u1530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1530 {
  position:absolute;
  left:40px;
  top:378px;
  width:138px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1531 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
