.layerwrap .checkinput {
  border: 0.015625rem solid #dcdcde;
}
.linkpersonal-box,
.invoice-box,
.coupon-box,
.cbDeduc-box,
.pcode-box {
  display: none;
  opacity: 0;
}
.linkpersonalShow .linkpersonal-box {
  display: block;
  opacity: 1;
}
.linkpersonalShow .invoice-box,
.linkpersonalShow .coupon-box,
.linkpersonalShow .cbDeduc-box,
.linkpersonalShow .pcode-box {
  display: none;
  opacity: 0;
}
.invoiceShow .invoice-box {
  display: block;
  opacity: 1;
}
.invoiceShow .linkpersonal-box,
.invoiceShow .coupon-box,
.invoiceShow .cbDeduc-box,
.invoiceShow .pcode-box {
  display: none;
  opacity: 0;
}
.couponShow .coupon-box {
  display: block;
  opacity: 1;
}
.couponShow .linkpersonal-box,
.couponShow .invoice-box,
.couponShow .cbDeduc-box,
.couponShow .pcode-box {
  display: none;
  opacity: 0;
}
.cbDeducShow .cbDeduc-box {
  display: block;
  opacity: 1;
}
.cbDeducShow .linkpersonal-box,
.cbDeducShow .invoice-box,
.cbDeducShow .coupon-box,
.cbDeducShow .pcode-box {
  display: none;
  opacity: 0;
}
.pcodeShow .pcode-box {
  display: block;
  opacity: 1;
}
.pcodeShow .linkpersonal-box,
.pcodeShow .invoice-box,
.pcodeShow .coupon-box,
.pcodeShow .cbDeduc-box {
  display: none;
  opacity: 0;
}
.cancelOrdeLayer_bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 600;
  background: rgba(69,69,69,0.5);
}
.cancelOrdeLayer_con {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 601;
  width: 9.375rem;
  margin-top: -2.5rem;
  margin-left: -4.6875rem;
  box-shadow: 0 0 0.03125rem rgba(69,69,69,0.6);
}
.cancelOrdeLayer_con h3 {
  background: #fff;
  height: 1.125rem;
  padding: 0 0.3125rem;
  font-size: 0.4375rem;
  color: #333;
  font-weight: normal;
  line-height: 1.125rem;
  border-bottom: 0.015625rem solid #c7c7c7;
}
.cancelOrdeLayer_con p {
  padding: 0.5rem 0.59375rem;
  background: #fff;
  color: #333;
  font-size: 0.375rem;
}
.cancelOrdeLayer_con .cancelOrdeLayer_btn a {
  display: inline-block;
  width: 50%;
  height: 0.9375rem;
  text-align: center;
  line-height: 0.9375rem;
  color: #fff;
  font-size: 0.375rem;
}
.cancelOrdeLayer_con .cancelOrdeLayer_btn .COL_true {
  background: #f05d4e;
}
.cancelOrdeLayer_con .cancelOrdeLayer_btn .COL_cancel {
  background: #adadad;
}
.ODSW_list {
  width: 100%;
  background: #f2f2f2;
  margin-bottom: 0.171875rem;
}
.ODSW_list td {
  vertical-align: middle;
}
.ODSW_list .ODSWL_pic {
  width: 3.375rem;
  padding: 0.234375rem 0;
}
.ODSW_list .ODSWL_pic img {
  margin-left: 0.25rem;
  width: 2.8125rem;
  height: 2.8125rem;
}
.ODSW_list .ODSWL_details {
  width: 6.375rem;
  padding: 0.234375rem 0.25rem 0.234375rem 0;
  vertical-align: top;
}
.ODSW_list .ODSWL_details .ODSWL_detCon {
  min-height: 2.1rem;
  padding-bottom: 0.1875rem;
}
.ODSW_list .ODSWL_details .ODSWL_detCon a {
  display: block;
  padding-bottom: 0.1875rem;
  font-size: 0.375rem;
  color: #333;
}
.ODSW_list .ODSWL_details .ODSWL_detCon h3 {
  font-size: 0.375rem;
  color: #333;
  font-weight: normal;
}
.ODSW_list .ODSWL_details .ODSWL_detCon p {
  font-size: 0.28125rem;
  color: #999;
}
.ODSW_list .ODSWL_details .ODSWL_detPrice {
  overflow: hidden;
  vertical-align: middle;
}
.ODSW_list .ODSWL_details .ODSWL_detPrice .ODSWL_price,
.ODSW_list .ODSWL_details .ODSWL_detPrice .ODSWL_priceC {
  font-size: 0.375rem;
}
.ODSW_list .ODSWL_details .ODSWL_detPrice .ODSWL_priceC i {
  display: inline-block;
  width: 0.34rem;
  height: 0.34rem;
  margin: 0 0.078125rem;
  background: url("../images/cbicon.png") no-repeat center;
  background-size: 0.34rem;
}
.ODSW_list .ODSWL_details .ODSWL_detPrice .ODSWL_priceNum {
  margin-left: 0.15625rem;
  font-size: 0.28125rem;
  color: #999;
}
.ODSW_list .ODSWL_details .ODSWL_detPrice .ODSWL_num {
  float: right;
  width: auto;
  height: 0.625rem;
  padding: 0 0.046875rem;
  line-height: 0.5625rem;
  border: 0.015625rem solid #b7b7b7;
  -webkit-border-radius: 0.3125rem;
  -moz-border-radius: 0.3125rem;
  -ms-border-radius: 0.3125rem;
  -o-border-radius: 0.3125rem;
  border-radius: 0.3125rem;
  background: #fff;
}
.ODSW_list .ODSWL_details .ODSWL_detPrice .ODSWL_num .reduce,
.ODSW_list .ODSWL_details .ODSWL_detPrice .ODSWL_num span,
.ODSW_list .ODSWL_details .ODSWL_detPrice .ODSWL_num b {
  display: none;
}
.ODSW_list .ODSWL_details .ODSWL_detPrice .ODSWL_num .reduce,
.ODSW_list .ODSWL_details .ODSWL_detPrice .ODSWL_num .add {
  font-size: 0.375rem;
  padding: 0 0.0625rem;
}
.ODSW_list .ODSWL_details .ODSWL_detPrice .ODSWL_num b {
  padding: 0 0.15625rem;
  font-size: 0.375rem;
  font-weight: bold;
  color: #333;
}
.ODSW_list .ODSWL_details .ODSWL_detPrice .ODSWL_num span {
  font-size: 0.3125rem;
  color: #bababa;
}
.ODSW_list .ODSWL_details .ODSWL_detPrice .ODSWL_numShow {
  padding: 0 0.15625rem;
}
.ODSW_list .ODSWL_details .ODSWL_detPrice .ODSWL_numShow .reduce,
.ODSW_list .ODSWL_details .ODSWL_detPrice .ODSWL_numShow span,
.ODSW_list .ODSWL_details .ODSWL_detPrice .ODSWL_numShow b {
  display: inline-block;
}
.ordCt_total {
  text-align: right;
  padding: 0 0.1875rem;
  height: 1.094rem;
  line-height: 1.094rem;
  color: #666;
  font-size: 0.375rem;
  border-bottom: 0.015625rem solid rgba(151,151,151,0.5);
}
.ordCt_total b {
  margin-right: 0.046875rem;
}
.ordCt_total .ODSWL_price,
.ordCt_total .ODSWL_priceC {
  margin-left: 0.046875rem;
  color: #f00;
  font-size: 0.375rem;
}
.ordCt_total .ODSWL_priceC i {
  display: inline-block;
  width: 0.34rem;
  height: 0.34rem;
  margin: 0 0.078125rem;
  background: url("../images/cbicon.png") no-repeat center;
  background-size: 0.34rem;
}
.ordCt_btnList {
  border-bottom: 0.015625rem solid rgba(151,151,151,0.5);
  padding: 0.28125rem 0.234375rem;
  text-align: right;
}
.ordCt_btnList a {
  display: inline-block;
  width: 1.71875rem;
  height: 0.625rem;
  background: #f2f2f2;
  margin-left: 0.3125rem;
  border: 0.015625rem solid #dedede;
  line-height: 0.625rem;
  text-align: center;
  font-size: 0.3125rem;
  color: #666;
}
.ODSWL_package td {
  padding: 0.1875rem 0.25rem 0;
}
.ODSWL_package td div {
  border-bottom: 0.015625rem solid #c7c7c7;
}
.ODSWL_package td div h4 {
  padding-left: 0.1875rem;
  font-weight: normal;
  padding-bottom: 0.1875rem;
  font-size: 0.375rem;
  color: #333;
}
.ODSWL_package td div .package_tit {
  overflow: hidden;
  padding-left: 0.1875rem;
}
.ODSWL_package td div .package_tit strong {
  display: inline-block;
  max-width: 8.53125rem;
  overflow: hidden;
  padding-bottom: 0.1875rem;
  font-size: 0.375rem;
  font-weight: normal;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ODSWL_package td div .package_tit span {
  float: right;
  font-size: 0.375rem;
  color: #999;
}
.ODSWL_package td div .package_details {
  display: inline-block;
  max-width: 8.53125rem;
  padding-left: 0.0625rem;
  padding-bottom: 0.1875rem;
  overflow: hidden;
  font-size: 0.28125rem;
  color: #999;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ODSW_list .ODSWL_package:nth-child(2) td {
  padding: 0 0.25rem;
}
.ODSW_list .ODSWL_package:last-child td div {
  border-bottom: none;
}
.ODSW_listBox .ODSW_list:last-child {
  margin-bottom: 0;
}
.SCSW_list {
  position: relative;
  width: 100%;
  margin-bottom: 0.171875rem;
}
.SCSW_list table {
  position: relative;
  top: 0;
  left: 0rem;
  z-index: 5;
  width: 100%;
  background: #f2f2f2;
}
.SCSW_list table td {
  vertical-align: middle;
}
.SCSW_list .SCSWL_pic {
  width: 3.125rem;
  padding: 0.234375rem 0;
}
.SCSW_list .SCSWL_pic img {
  width: 2.8125rem;
  height: 2.8125rem;
}
.SCSW_list .SCSWL_details {
  width: 6.3125rem;
  padding: 0.234375rem 0.15625rem 0.234375rem 0;
  vertical-align: top;
}
.SCSW_list .SCSWL_details .SCSWL_detCon {
  min-height: 2.1rem;
  padding-bottom: 0.1875rem;
}
.SCSW_list .SCSWL_details .SCSWL_detCon a {
  display: block;
  padding-bottom: 0.1875rem;
  font-size: 0.375rem;
  color: #333;
}
.SCSW_list .SCSWL_details .SCSWL_detCon h3 {
  font-size: 0.375rem;
  color: #333;
  font-weight: normal;
}
.SCSW_list .SCSWL_details .SCSWL_detCon p {
  font-size: 0.28125rem;
  color: #999;
}
.SCSW_list .SCSWL_details .SCSWL_detPrice {
  overflow: hidden;
  vertical-align: middle;
}
.SCSW_list .SCSWL_details .SCSWL_detPrice .SCSWL_price,
.SCSW_list .SCSWL_details .SCSWL_detPrice .SCSWL_priceC {
  font-size: 0.375rem;
}
.SCSW_list .SCSWL_details .SCSWL_detPrice .SCSWL_priceC i {
  display: inline-block;
  width: 0.34rem;
  height: 0.34rem;
  margin: 0 0.078125rem;
  background: url("../images/cbicon.png") no-repeat center;
  background-size: 0.34rem;
}
.SCSW_list .SCSWL_details .SCSWL_detPrice .SCSWL_priceNum {
  margin-left: 0.15625rem;
  font-size: 0.28125rem;
  color: #999;
}
.SCSW_list .SCSWL_details .SCSWL_detPrice .SCSWL_num {
  float: right;
  width: auto;
  height: 0.625rem;
  padding: 0 0.046875rem;
  line-height: 0.5625rem;
  border: 0.015625rem solid #b7b7b7;
  -webkit-border-radius: 0.3125rem;
  -moz-border-radius: 0.3125rem;
  -ms-border-radius: 0.3125rem;
  -o-border-radius: 0.3125rem;
  border-radius: 0.3125rem;
  background: #fff;
}
.SCSW_list .SCSWL_details .SCSWL_detPrice .SCSWL_num .reduce,
.SCSW_list .SCSWL_details .SCSWL_detPrice .SCSWL_num span,
.SCSW_list .SCSWL_details .SCSWL_detPrice .SCSWL_num b {
  display: none;
}
.SCSW_list .SCSWL_details .SCSWL_detPrice .SCSWL_num .reduce,
.SCSW_list .SCSWL_details .SCSWL_detPrice .SCSWL_num .add {
  font-size: 0.375rem;
  padding: 0 0.0625rem;
}
.SCSW_list .SCSWL_details .SCSWL_detPrice .SCSWL_num b {
  padding: 0 0.15625rem;
  font-size: 0.375rem;
  font-weight: bold;
  color: #333;
}
.SCSW_list .SCSWL_details .SCSWL_detPrice .SCSWL_num span {
  font-size: 0.3125rem;
  color: #bababa;
}
.SCSW_list .SCSWL_details .SCSWL_detPrice .SCSWL_numShow {
  padding: 0 0.15625rem;
}
.SCSW_list .SCSWL_details .SCSWL_detPrice .SCSWL_numShow .reduce,
.SCSW_list .SCSWL_details .SCSWL_detPrice .SCSWL_numShow span,
.SCSW_list .SCSWL_details .SCSWL_detPrice .SCSWL_numShow b {
  display: inline-block;
}
.SCSW_list .SCSWL_delete {
  display: table-cell;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  width: 1.5rem;
  height: 100%;
  background: #f05d4e;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-size: 0.375rem;
}
.SCSW_list .SCSWL_delete b {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -0.1953125rem;
  margin-right: -0.375rem;
}
.SCSW_listLeft {
  margin-left: -1.5rem;
  width: 11.8125rem;
}
.SCSW_listLeft .SCSWL_delete {
  display: table-cell;
  width: 1.5rem;
}
.SCSWL_checkradio {
  width: 0.875rem;
}
.SCSWL_checkradio .SCSW_radio {
  margin-left: 0.234375rem;
}
.ordCt_total {
  text-align: right;
  padding: 0 0.1875rem;
  height: 1.094rem;
  line-height: 1.094rem;
  color: #666;
  font-size: 0.375rem;
  border-bottom: 0.015625rem solid rgba(151,151,151,0.5);
}
.ordCt_total b {
  margin-right: 0.046875rem;
}
.ordCt_total .SCSWL_price,
.ordCt_total .SCSWL_priceC {
  margin-left: 0.046875rem;
  color: #f00;
  font-size: 0.375rem;
}
.ordCt_total .SCSWL_priceC i {
  display: inline-block;
  width: 0.34rem;
  height: 0.34rem;
  margin: 0 0.078125rem;
  background: url("../images/cbicon.png") no-repeat center;
  background-size: 0.34rem;
}
.ordCt_btnList {
  border-bottom: 0.015625rem solid rgba(151,151,151,0.5);
  padding: 0.28125rem 0.234375rem;
  text-align: right;
}
.ordCt_btnList a {
  display: inline-block;
  width: 1.71875rem;
  height: 0.625rem;
  background: #f2f2f2;
  margin-left: 0.3125rem;
  border: 0.015625rem solid #dedede;
  line-height: 0.625rem;
  text-align: center;
  font-size: 0.3125rem;
  color: #666;
}
.SCSW_tit {
  height: 1.094rem;
  line-height: 1.094rem;
  overflow: hidden;
  padding: 0 0.25rem;
}
.SCSW_tit .SCSW_edit {
  float: right;
  color: #666;
  font-size: 0.375rem;
}
.SCOC_tit {
  height: 1.094rem;
  line-height: 1.094rem;
  overflow: hidden;
  padding: 0 0.25rem;
}
.SCOC_tit em {
  font-size: 0.375rem;
  color: #666;
}
.SCOC_tit span {
  float: right;
  color: #f05d4e;
  font-size: 0.375rem;
}
.SCSW_titCon {
  display: inline-block;
}
.SCSW_checkradio .SCSW_radio,
.SCSWL_checkradio .SCSW_radio {
  margin-top: -0.1rem;
  display: inline-block;
  width: 0.421875rem;
  height: 0.421875rem;
  margin-right: 0.23rem;
  line-height: 0.35rem;
  border: 0.015625rem solid #979797;
  -webkit-border-radius: 0.421875rem;
  -moz-border-radius: 0.421875rem;
  -ms-border-radius: 0.421875rem;
  -o-border-radius: 0.421875rem;
  border-radius: 0.421875rem;
  vertical-align: middle;
}
.SCSW_checkradio .ckroot,
.SCSWL_checkradio .ckroot {
  background-color: #ff3f3f;
  color: #fff;
  border-color: #ff3f3f !important;
  position: relative;
  text-align: center;
}
.SCSW_checkradio .ckroot .icon-right,
.SCSWL_checkradio .ckroot .icon-right {
  position: relative;
  font-size: 0.25rem;
  display: block;
}
.SCSW_checkradio .grayradio,
.SCSWL_checkradio .grayradio {
  border-color: #d9d9d9 !important;
}
.SCSW_checkradio em,
.SCSWL_checkradio em {
  font-size: 0.4375rem;
  color: #222;
}
.ShopCar_SofWareMall .SCSW_list:nth-last-child(1),
.ShopCar_CCurrMall .SCSW_list:nth-last-child(1),
.ShopCar_CollegeMall .SCSW_list:nth-last-child(1),
.ShopCar_orderCenter .SCSW_list:nth-last-child(1) {
  margin-bottom: 0;
}
.layerwrap {
  display: none;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}
.layerwrap .layerheader {
  padding: 0.423125rem 0.3125rem;
  width: 100%;
  background-color: #fff;
  position: fixed;
  text-align: center;
  border-bottom: 0.015625rem solid #979797;
}
.layerwrap .layerheader .icon-iconfontfanhui1 {
  color: #f05d4e;
  font-size: 0.5rem;
  display: inline-block;
  position: absolute;
  left: 0.3125rem;
  top: 0.55rem;
}
.layerwrap .layerheader em {
  font-size: 0.53125rem;
  color: #333;
}
.layerwrap .layercontent {
  padding: 0 0 0.4375rem 0;
  background-color: #f3f3f3;
  position: absolute;
  top: 1.6rem;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
.layerwrap .layercontent .ckroot {
  background-color: #ff3f3f;
  color: #fff;
  border-color: #ff3f3f !important;
  position: relative;
  text-align: center;
}
.layerwrap .layercontent .ckroot .icon-right {
  position: relative;
  font-size: 0.25rem;
  display: block;
}
.layerwrap .layercontent .grayradio {
  border-color: #d9d9d9 !important;
}
.layerwrap .layercontent .maintitle {
  font-size: 0.4375rem;
  vertical-align: bottom;
  display: block;
  padding: 0.34375rem 0.375rem 0.34375rem 0.375rem;
}
.layerwrap .layercontent .hotline:before {
  width: 0.125rem;
  height: 0.5rem;
  display: inline-block;
  content: ' ';
  background-color: #f05d4e;
  -webkit-border-radius: 0.0625rem;
  -moz-border-radius: 0.0625rem;
  -ms-border-radius: 0.0625rem;
  -o-border-radius: 0.0625rem;
  border-radius: 0.0625rem;
  vertical-align: middle;
  margin-right: 0.375rem;
}
.layerwrap .layercontent .subtitle {
  padding: 0.3125rem 0.234375rem;
  display: block;
  color: #333;
  font-size: 0.4375rem;
}
.layerwrap .layercontent .selectbox {
  padding: 0.625rem 0 0.625rem 0;
}
.layerwrap .layercontent .selectbox .simulationRadio {
  display: inline-block;
  width: 0.390625rem;
  height: 0.390625rem;
  border: 0.015625rem solid #979797;
  -webkit-border-radius: 0.390625rem;
  -moz-border-radius: 0.390625rem;
  -ms-border-radius: 0.390625rem;
  -o-border-radius: 0.390625rem;
  border-radius: 0.390625rem;
  vertical-align: middle;
}
.layerwrap .layercontent .selectbox label {
  display: inline-block;
}
.layerwrap .layercontent .selectbox label em {
  vertical-align: middle;
  color: #666;
  font-size: 0.375rem;
  display: inline-block;
  margin-left: 0.3125rem;
}
.layerwrap .layercontent .selectbox .checkradio {
  width: 50%;
  text-align: center;
}
.layerwrap .layercontent .selectbox .checkinfor {
  display: block;
  padding: 0 0.546875rem;
}
.layerwrap .layercontent .selectbox .checkinfor:nth-child(2) {
  margin-top: 0.46875rem;
}
.layerwrap .layercontent .selectbox .checkinput {
  width: 80%;
  height: 0.859375rem;
  display: inline-block;
  -webkit-border-radius: 0.0625rem;
  -moz-border-radius: 0.0625rem;
  -ms-border-radius: 0.0625rem;
  -o-border-radius: 0.0625rem;
  border-radius: 0.0625rem;
  margin-left: 0.3125rem;
}
.layerwrap .layercontent .selectbox .checkinput input {
  border: none;
  width: 97%;
  margin-top: 0.1rem;
  margin-left: 0.1rem;
  height: 0.625rem;
  outline: none;
}
.layerwrap .layercontent .textbox {
  padding: 0.625rem 0.31255rem;
  line-height: 1.5;
  width: 94%;
  margin: 0 auto;
  border-bottom: 0.015625rem solid #c7c7c7;
}
.layerwrap .layercontent .subwrap {
  width: 100%;
  margin: 0 auto;
}
.layerwrap .layercontent .subwrap .subtitle {
  color: #333;
  font-size: 0.375rem;
}
.layerwrap .layercontent .subwrap label {
  border: 0.015625rem solid #dcdcde;
  display: block;
  height: 0.859375rem;
  -webkit-border-radius: 0.0625rem;
  -moz-border-radius: 0.0625rem;
  -ms-border-radius: 0.0625rem;
  -o-border-radius: 0.0625rem;
  border-radius: 0.0625rem;
  width: 95%;
  margin: 0 auto;
}
.layerwrap .layercontent .subwrap label select {
  border: none;
  width: 97%;
  margin-top: 0.1rem;
  margin-left: 0.1rem;
  height: 0.625rem;
  font-size: 0.375rem;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
}
.layerwrap .subutton {
  padding-top: 0.39025rem;
}
.layerwrap .subutton a {
  display: block;
  color: #fff;
  text-align: center;
  background-color: #f05d4e;
  width: 95%;
  margin: 0 auto;
  -webkit-border-radius: 0.078125rem;
  -moz-border-radius: 0.078125rem;
  -ms-border-radius: 0.078125rem;
  -o-border-radius: 0.078125rem;
  border-radius: 0.078125rem;
  font-size: 0.4375rem;
}
.layerwrap .subutton .submitbtn {
  height: 1.09375rem;
  line-height: 1.09375rem;
}
.layerwrap .ckradio .simulationRadio {
  display: inline-block;
  width: 0.390625rem;
  height: 0.390625rem;
  border: 0.015625rem solid #979797;
  -webkit-border-radius: 0.390625rem;
  -moz-border-radius: 0.390625rem;
  -ms-border-radius: 0.390625rem;
  -o-border-radius: 0.390625rem;
  border-radius: 0.390625rem;
  vertical-align: middle;
  position: relative;
}
.layerwrap .listcoupon {
  width: 95%;
  margin: 0 auto;
}
.layerwrap .listcoupon li {
  border-bottom: 0.015625rem solid #c7c7c7;
  padding: 0.3125rem 0;
}
.layerwrap .listcoupon .text {
  width: 85%;
  margin-left: 0.3125rem;
}
.layerwrap .listcoupon .text span {
  display: block;
  line-height: 1.5;
  color: #666;
  font-size: 0.375rem;
}
.layerwrap .listcoupon .text span em {
  color: #ff3f3f;
}
.layerwrap .listcoupon .graycolor span,
.layerwrap .listcoupon .graycolor em {
  color: #c4c4c4 !important;
}
.layerwrap .listcoupon .passred {
  color: #ff3f3f !important;
}
.layerwrap .textfors {
  width: 95%;
  margin: 0 auto;
  border-bottom: 0.015625rem solid #c7c7c7;
  color: #666;
  font-size: 0.375rem;
  padding: 0.625rem 0;
  line-height: 1.5;
}
.layerwrap .textfors em {
  color: #f05d4e;
  vertical-align: middle;
}
.layerwrap .textfors .cbicon {
  background: url("../images/cbicon.png") no-repeat top center;
  width: 0.38rem;
  height: 0.38rem;
  display: inline-block;
  background-size: cover;
  vertical-align: middle;
  margin: 0 0.078125rem;
}
.layerwrap .subtextwrap {
  width: 95%;
  margin: 0 auto;
  padding: 0.3125rem 0 0 0;
}
.layerwrap .subtextwrap span {
  display: block;
  font-size: 0.375rem;
  color: #666;
  margin-bottom: 0.3125rem;
}
.layerwrap .subtextwrap .cbicon {
  background: url("../images/cbicon.png") no-repeat top center;
  width: 0.38rem;
  height: 0.38rem;
  display: inline-block;
  background-size: cover;
  vertical-align: middle;
  margin: 0 0.078125rem;
}
.layerwrap .subtextwrap .checkinput {
  display: block;
  height: 0.859375rem;
  border: 0.015625rem solid #dcdcde;
  -webkit-border-radius: 0.0625rem;
  -moz-border-radius: 0.0625rem;
  -ms-border-radius: 0.0625rem;
  -o-border-radius: 0.0625rem;
  border-radius: 0.0625rem;
}
.layerwrap .subtextwrap .checkinput input {
  border: none;
  height: 0.625rem;
  margin-top: 0.1rem;
  margin-left: 0.1rem;
  width: 90%;
  outline: none;
}
.layerwrap .pcodewrap {
  padding: 0.325rem 0;
}
.layerwrap .pcodewrap .checkinput {
  display: block;
  height: 0.859375rem;
  border: 0.015625rem solid #dcdcde;
  -webkit-border-radius: 0.0625rem;
  -moz-border-radius: 0.0625rem;
  -ms-border-radius: 0.0625rem;
  -o-border-radius: 0.0625rem;
  border-radius: 0.0625rem;
  width: 95%;
  margin: 0 auto;
}
.layerwrap .pcodewrap .checkinput input {
  border: none;
  height: 0.625rem;
  margin-top: 0.1rem;
  margin-left: 0.1rem;
  width: 90%;
  outline: none;
}
.layerwrap .pcodewrap .text {
  padding-top: 0.325rem;
  color: #666;
  font-size: 0.375rem;
  width: 95%;
  margin: 0 auto;
}
.layerwrap .pcodewrap .text em {
  color: #f05d4e;
  font-weight: bold;
}
.layerwrap .forminfor {
  margin-top: -0.390625rem;
}
.layerwrap .errortext {
  width: 95%;
  margin: 0 auto;
  color: #bc7070;
}
.layerwrap .inputstyle {
  width: 95%;
  margin: 0.390625rem auto;
  height: 0.859375rem;
  border: 0.015625rem solid #dcdcde;
  padding: 0 0.234375rem;
  -webkit-border-radius: 0.078125rem;
  -moz-border-radius: 0.078125rem;
  -ms-border-radius: 0.078125rem;
  -o-border-radius: 0.078125rem;
  border-radius: 0.078125rem;
}
.layerwrap .inputstyle em {
  color: #666;
  font-size: 0.375rem;
}
.layerwrap .inputstyle input {
  border: none;
  height: 0.625rem;
  margin-top: 0.1rem;
  margin-left: 0.4rem;
  width: 85%;
  outline: none;
  font-size: 0.375rem;
}
.layerwrap .inputstyle select {
  border: none;
  height: 0.625rem;
  margin-top: 0.1rem;
  margin-left: 0.4rem;
  width: 85%;
  background: none;
  outline: none;
  font-size: 0.375rem;
}
.layerwrap .inputstyle select option {
  font-size: 0.375rem;
}
.layerwrap .selectstyle2 {
  width: 95%;
  margin: 0 auto;
  padding: 0 0 0 0.234375rem;
}
.layerwrap .selectstyle2 select {
  display: inline-block;
  width: 40%;
  background: none;
  margin: 0.1rem auto 0;
}
.layerwrap .selectstyle2 select:nth-child(2) {
  margin-left: 0.4rem;
}
.layerwrap .selectstyle2 select:nth-child(3) {
  margin-left: 0.234375rem;
}
.layerwrap .errorborder {
  border: 0.015625rem solid #f05d4e !important;
}
.layerwrap .selectstyle1 {
  padding: 0 0 0 0.234375rem;
}
.masklayer {
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 800px;
}
.footerbottom {
  height: 1.125rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 0.015625rem solid rgba(151,151,151,0.5);
  background-color: #fff;
  z-index: 50;
}
.footerbottom .cbicon {
  background: url("../images/cbicon.png") no-repeat top center;
  width: 0.35rem;
  height: 0.35rem;
  display: inline-block;
  background-size: cover;
  vertical-align: middle;
  margin: 0 0.078125rem;
}
.footerbottom .leftext {
  line-height: 1.125rem;
  margin-left: 0.25625rem;
}
.footerbottom .leftext em {
  color: #222;
  font-size: 0.4375rem;
  display: inline-block;
  margin-left: 0.15625rem;
}
.footerbottom .leftext span {
  color: #666;
  font-size: 0.375rem;
  display: inline-block;
  margin-left: 0.3125rem;
}
.footerbottom .leftext span i {
  color: #f00;
}
.footerbottom .simulationRadio {
  width: 0.421875rem;
  height: 0.421875rem;
  border: 1px solid #979797;
  display: inline-block;
  margin-top: -0.15rem;
  -webkit-border-radius: 0.390625rem;
  -moz-border-radius: 0.390625rem;
  -ms-border-radius: 0.390625rem;
  -o-border-radius: 0.390625rem;
  border-radius: 0.390625rem;
  vertical-align: middle;
}
.footerbottom .ckroot {
  background: #ff3f3f;
  color: #fff;
  border-color: #ff3f3f !important;
  text-align: center;
  line-height: 0.3rem;
}
.footerbottom .ckroot b {
  position: relative;
  font-size: 0.25rem;
}
.footerbottom .rightext {
  text-align: right;
  width: 70%;
  line-height: 1.125rem;
}
.footerbottom .rightext em {
  color: #222;
  font-size: 0.4375rem;
  display: inline-block;
  margin-left: 0.15625rem;
}
.footerbottom .rightext span {
  color: #666;
  font-size: 0.375rem;
  display: inline-block;
  margin-left: 0.3125rem;
}
.footerbottom .rightext span i {
  color: #f00;
}
.footerbottom .rightext .simulationRadio {
  width: 0.390625rem;
  height: 0.390625rem;
  border: 1px solid #979797;
  display: inline-block;
  -webkit-border-radius: 0.390625rem;
  -moz-border-radius: 0.390625rem;
  -ms-border-radius: 0.390625rem;
  -o-border-radius: 0.390625rem;
  border-radius: 0.390625rem;
  vertical-align: middle;
}
.footerbottom .inforbtn a {
  color: #fff;
  width: 2.765625rem;
  height: 1.25rem;
  display: inline-block;
  background-color: #f05d4e;
  line-height: 1.25rem;
  font-size: 0.375rem;
}
