.orderwrap {
  width: 7.59375rem;
  height: 4.921875rem;
  margin: 1.984375rem auto 0 auto;
  border: 0.015625rem solid #cacaca;
  padding: 1.40625rem 0.46875rem 0 0.46875rem;
  -webkit-border-radius: 0.156255rem;
  -moz-border-radius: 0.156255rem;
  -ms-border-radius: 0.156255rem;
  -o-border-radius: 0.156255rem;
  border-radius: 0.156255rem;
  position: relative;
  z-index: 10;
}
.orderwrap .blank {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 1.875rem;
  height: 0.9375rem;
  margin-left: -0.9375rem;
  background-color: #fff;
  z-index: 0;
}
.orderwrap:before {
  content: ' ';
  background-color: #fff;
  width: 1.875rem;
  height: 1.875rem;
  -webkit-border-radius: 1.875rem;
  -moz-border-radius: 1.875rem;
  -ms-border-radius: 1.875rem;
  -o-border-radius: 1.875rem;
  border-radius: 1.875rem;
  border: 0.015625rem solid #cacaca;
  display: block;
  position: absolute;
  top: -0.9375rem;
  left: 50%;
  margin-left: -0.9375rem;
  z-index: 0;
}
.orderwrap p {
  color: #666;
  line-height: 2.2;
  font-size: 0.375rem;
}
.orderwrap p em {
  color: #f05d4e;
}
.orderwrap p .mail {
  color: #6081a3;
  text-decoration: underline;
}
.orderwrap .gwcp {
  color: #666;
  font-size: 0.4375rem;
}
.orderwrap .icon-eduface4,
.orderwrap .icon-wenjianicon {
  font-size: 1.0625rem;
  color: #5d5d65;
  position: absolute;
  left: 50%;
  top: -0.73125rem;
  margin-left: -0.53125rem;
  z-index: 1;
}
.orderwrap .icon-right {
  color: #18a80f;
  width: 1.10625rem;
  height: 1.10625rem;
  -webkit-border-radius: 1.10625rem;
  -moz-border-radius: 1.10625rem;
  -ms-border-radius: 1.10625rem;
  -o-border-radius: 1.10625rem;
  border-radius: 1.10625rem;
  display: block;
  border: 0.0625rem solid #18a80f;
  text-align: center;
  vertical-align: middle;
  font-size: 0.78125rem;
  position: absolute;
  left: 50%;
  top: -0.553125rem;
  margin-left: -0.553125rem;
  z-index: 1;
}
.orderwrap .icon-gouwuche {
  font-size: 1.0625rem;
  color: #5d5d65;
  position: absolute;
  left: 50%;
  top: -0.73125rem;
  margin-left: -0.53125rem;
  z-index: 1;
}
.blankinfor {
  margin-top: 0.9375rem;
}
.blankinfor .title {
  display: block;
  color: #333;
  font-size: 0.4375rem;
  border-top: 0.015625rem solid #cacaca;
  background-color: #fff;
  height: 1.09375rem;
  line-height: 1.09375rem;
  padding: 0 0.23475rem;
}
.blankinfor .blankcontent {
  width: 8.75rem;
  margin: 0.46875rem auto;
  border: 0.015625rem solid #dbefbb;
  -webkit-border-radius: 0.09375rem;
  -moz-border-radius: 0.09375rem;
  -ms-border-radius: 0.09375rem;
  -o-border-radius: 0.09375rem;
  border-radius: 0.09375rem;
  background-color: #f5ffec;
  padding: 0 0.46875rem;
}
.blankinfor .blankcontent .divlist {
  border-bottom: 0.015625rem solid #cacaca;
  padding: 0.46875rem 0;
}
.blankinfor .blankcontent .divlist span {
  display: block;
  color: #333;
  font-size: 0.375rem;
  line-height: 1.8;
}
.blankinfor .blankcontent .divlist em {
  display: block;
  color: #333;
  font-size: 0.28rem;
  line-height: 1.8;
  font-family: Arial;
}
.blankinfor .blankcontent .divlist:last-child {
  border: none;
}
.payallbtns {
  margin-top: 1.5625rem;
}
.payallbtns .paybtn {
  display: block;
  width: 90%;
  height: 1.09375rem;
  line-height: 1.09375rem;
  text-align: center;
  color: #fff;
  font-size: 0.4375rem;
  margin: 0.3125rem auto;
  -webkit-border-radius: 0.09375rem;
  -moz-border-radius: 0.09375rem;
  -ms-border-radius: 0.09375rem;
  -o-border-radius: 0.09375rem;
  border-radius: 0.09375rem;
}
.payallbtns .paybtn span {
  display: inline-block;
  overflow: hidden;
}
.payallbtns .paybtn .iconfont {
  float: left;
  color: #fff;
  display: inline-block;
  margin-right: 0.15625rem;
}
.payallbtns .paybtn em {
  float: left;
}
.payallbtns .confirmbtn {
  background-color: #f05d4e;
}
.payallbtns .weixinbtn {
  background-color: #78c422;
}
.payallbtns .weixinbtn .icon-logoweixin {
  font-size: 0.7734rem;
}
.payallbtns .zhifubaobtn {
  background-color: #00b0f5;
}
.payallbtns .zhifubaobtn .icon-zhifubao {
  font-size: 0.625rem;
}
.payallbtns .closebtn {
  background-color: #adadad;
}
