@import '../modules/mod_common'
@import '../modules/mod_header_top'
@import '../modules/mod_footer_bottom'
@import '../modules/mod_layer'

@import '../modules/mod_shoppingCar_mob'


//顶部
headertop()

//弹层
layerwrap()

//底部
footerbottom()