layerwrap()
  .layerwrap
    position absolute
    bottom 0
    top 0
    left 100%
    width 100%
    background-color #fff
    z-index 999
    .layerheader
      padding 0.423125rem 0.3125rem
      width 100%
      background-color #fff
      position fixed
      text-align center
      border-bottom 0.015625rem solid #979797
      .icon-iconfontfanhui1
        color #F05D4E
        font-size 0.5rem
        display inline-block
        position absolute
        left 0.3125rem
        top 0.55rem
      em
        font-size 0.53125rem
        color #333333
    .layercontent
      padding 0 0 0.4375rem 0
      background-color #F3F3F3
      position absolute
      top 1.6rem
      bottom 0
      overflow-y auto
      overflow-x hidden
      width 100%
      ckselect()
      .maintitle
        font-size 0.4375rem
        vertical-align bottom
        display block
        padding 0.34375rem 0.375rem 0.34375rem 0.375rem
      .hotline
        &:before
          width 0.125rem
          height 0.5rem
          display inline-block
          content ' '
          background-color #F05D4E
          border-radius(0.0625rem)
          vertical-align middle
          margin-right 0.375rem
      .subtitle
        padding 0.3125rem 0.234375rem
        display block
        color #333333
        font-size 0.4375rem
      .selectbox
        padding 0.625rem 0 0.625rem 0
        .simulationRadio
          display inline-block
          width 0.390625rem
          height 0.390625rem
          border 0.015625rem solid #979797
          simulationRadio(0.390625rem)
          vertical-align middle
        label
          display inline-block
          em
            vertical-align middle
            color #666
            font-size 0.375rem
            display inline-block
            margin-left 0.3125rem
        .checkradio
          width 50%
          text-align center
        .checkinfor
          display block
          padding 0 0.546875rem
          &:nth-child(2)
            margin-top 0.46875rem
        .checkinput
          border 0.015625rem solid #FF0000
          width 80%
          height 0.859375rem
          display inline-block
          border-radius(0.0625rem)
          margin-left 0.3125rem
          input
            border none
            width 97%
            margin-top 0.1rem
            margin-left 0.1rem
            height 0.625rem
            outline none
      .textbox
        padding 0.625rem 1.21875rem 0.625rem 0.31255rem
        line-height 1.5
        width 94%
        margin 0 auto
        border-bottom 0.015625rem solid #C7C7C7
      .subwrap
        width 100%
        margin 0 auto
        .subtitle
          color #333333
          font-size 0.375rem
        label
          border 0.015625rem solid #DCDCDE
          display block
          height 0.859375rem
          border-radius(0.0625rem)
          width 95%
          margin 0 auto
          select
            border none
            width 97%
            margin-top 0.1rem
            margin-left 0.1rem
            height 0.625rem
            font-size 0.375rem
            outline none
            appearance none
            -moz-appearance none
            -webkit-appearance none
            background url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent
    .subutton
      padding-top 0.39025rem
      a
        display block
        color #fff
        text-align center
        background-color #F05D4E
        width 95%
        margin 0 auto
        border-radius(0.078125rem)
        font-size 0.4375rem
      .submitbtn
        height 1.09375rem
        line-height 1.09375rem
    .ckradio
      .simulationRadio
        display inline-block
        width 0.390625rem
        height 0.390625rem
        border 0.015625rem solid #979797
        simulationRadio(0.390625rem)
        vertical-align middle
        position relative
    .listcoupon
      width 95%
      margin 0 auto
      li
        border-bottom 0.015625rem solid #C7C7C7
        padding 0.3125rem 0
      .text
        width 85%
        margin-left 0.3125rem
        span
          display block
          line-height 1.5
          color #666
          font-size 0.375rem
          em
            color #FF3F3F
      .graycolor
         span,em
           color #C4C4C4 !important
      .passred
        color #FF3F3F !important
    .textfors
      width 95%
      margin 0 auto
      border-bottom 0.015625rem solid #C7C7C7
      color #666
      font-size 0.375rem
      padding 0.625rem 0.375rem
      line-height 1.5
      em
        color #F05D4E
        vertical-align middle
      cbicon()
    .subtextwrap
      width 95%
      margin 0 auto
      padding 0.3125rem 0.375rem 0 0.375rem
      span
        display block
        font-size 0.375rem
        color #666
        margin-bottom 0.3125rem
      cbicon()
      .checkinput
        display block
        height 0.859375rem
        border 0.015625rem solid #DCDCDE
        border-radius(0.0625rem)
        input
          border none
          height 0.625rem
          margin-top 0.1rem
          margin-left 0.1rem
          width 90%
          outline none
    .pcodewrap
      padding 0.325rem 0
      .checkinput
        display block
        height 0.859375rem
        border 0.015625rem solid #DCDCDE
        border-radius(0.0625rem)
        width 95%
        margin 0 auto
        input
          border none
          height 0.625rem
          margin-top 0.1rem
          margin-left 0.1rem
          width 90%
          outline none
      .text
        padding-top 0.325rem
        color #666
        font-size 0.375rem
        width 95%
        margin 0 auto
        em
          color #F05D4E
          font-weight bold
    .forminfor
      margin-top -0.390625rem
    .errortext
      width 95%
      margin 0 auto
      color #BC7070
    .inputstyle
      width 95%
      margin 0.390625rem auto
      height 0.859375rem
      border 0.015625rem solid #DCDCDE
      padding 0 0.234375rem
      border-radius(0.078125rem)
      em
        color #666666
        font-size 0.375rem
      input
        border none
        height 0.625rem
        margin-top 0.1rem
        margin-left 0.4rem
        width 85%
        outline none
    .errorborder
      border-color #F05D4E !important
  .masklayer
    position absolute
    background-color #000
    opacity(0.5)
    width 100%
    height 800px
.linkpersonal-box,
.invoice-box,
.coupon-box,
.cbDeduc-box,
.pcode-box
  display none
  opacity 0

//联系信息显示:
.linkpersonalShow
  .linkpersonal-box
    display block
    opacity 1
  .invoice-box,
  .coupon-box,
  .cbDeduc-box,
  .pcode-box
    display none
    opacity 0

//发票信息显示:
.invoiceShow
  .invoice-box
    display block
    opacity 1
  .linkpersonal-box,
  .coupon-box,
  .cbDeduc-box,
  .pcode-box
    display none
    opacity 0

//优惠劵显示:
.couponShow
  .coupon-box
    display block
    opacity 1
  .linkpersonal-box,
  .invoice-box,
  .cbDeduc-box,
  .pcode-box
    display none
    opacity 0

//C币抵扣显示:
.cbDeducShow
  .cbDeduc-box
    display block
    opacity 1
  .linkpersonal-box,
  .invoice-box,
  .coupon-box,
  .pcode-box
    display none
    opacity 0

//优惠码显示:
.pcodeShow
  .pcode-box
    display block
    opacity 1
  .linkpersonal-box,
  .invoice-box,
  .coupon-box,
  .cbDeduc-box
    display none
    opacity 0

//取消订单弹窗开始:
.cancelOrdeLayer_bg
  display none
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  z-index 600
  background rgba(69,69,69,0.5)
.cancelOrdeLayer_con
  display none
  position fixed
  top 50%
  left 50%
  z-index 601
  width 9.375rem
  margin-top -2.5rem
  margin-left -4.6875rem
  box-shadow 0 0 0.03125rem rgba(69,69,69,0.6)
  h3
    background #FFFFFF
    height 1.125rem
    padding 0 0.3125rem
    font-size 0.4375rem
    color #333
    font-weight normal
    line-height 1.125rem
    border-bottom 0.015625rem solid #c7c7c7
  p
    padding 0.5rem 0.59375rem
    background #FFFFFF
    color #333
    font-size 0.375rem
  .cancelOrdeLayer_btn
    a
      display inline-block
      width 50%
      height 0.9375rem
      text-align center
      line-height 0.9375rem
      color #fff
      font-size 0.375rem
    .COL_true
      background #F05D4E

