headertop()
  header
    padding 0.453125rem 0
    width 100%
    position fixed
    top 0
    left 0
    background-color #fff
    z-index 50
    border-bottom 0.015625rem solid rgba(151,151,151,0.5)
  .title
    color #333333
    font-size 0.53125rem
    a
      color #333333
      display inline-block
    .icon-row-down-copy,
    .icon-row-up-copy
      color #BE0000
      font-size 0.4rem
      margin-left 0.234375rem 
    .icon-row-down-copy
      display inline-block
    .icon-row-up-copy
      display none
  .headertop
    .header_dropDown
      display none
      position absolute
      left 50%
      top 1.0625rem
      z-index 1000
      width 4.96875rem
      margin-left -2.484375rem
      text-align center
      i
        font-size 0.53125rem
        color #484848
        opacity 0.8
      .header_DDList
        margin-top -0.046875rem
        padding  0.234375rem 0.3125rem
        background rgba(72,72,72,0.8)
        a
          display block
          height 0.953125rem
          border-radius 0.125rem
          line-height 0.953125rem
          font-size 0.4375rem
          color #fff
        .headerNav_active
          background rgba(42,42,42,0.5)
  .headertop_downShow
    .title
      .icon-row-down-copy
        display none
      .icon-row-up-copy
        display inline-block
    .header_dropDown
      display block

