.tabNav_box
  padding 0.328125rem 0.3125rem
.tabNav
  border 0.015625rem solid #F05D4E
  border-radius 0.125rem
  a
    display inline-block
    width 33.33%
    border-left 0.015625rem solid #F05D4E
    height 0.75rem
    line-height 0.75rem
    text-align center
    font-size 0.4375rem
    color #666
  .tabNav_cur
    background #F05D4E
    color #fff
.tabNav a:nth-child(1)
  border-left none