.SCSW_list
  position relative
  width 100%
  margin-bottom 0.171875rem
  table
    position relative
    top 0
    left 0rem
    z-index 5
    width 100%
    background #f2f2f2
    td
      vertical-align middle
  .SCSWL_pic
    width 3.125rem
    padding 0.234375rem  0
    img
      width 2.8125rem
      height 2.8125rem
  .SCSWL_details
    width 6.3125rem
    padding 0.234375rem  0.15625rem 0.234375rem 0
    vertical-align top
    .SCSWL_detCon
      min-height 2.1rem
      padding-bottom 0.1875rem
      a
        display block
        padding-bottom 0.1875rem
        font-size 0.375rem
        color #333
      h3
        font-size 0.375rem
        color #333
        font-weight normal
      p
        font-size 0.28125rem
        color #999
    .SCSWL_detPrice
      overflow hidden
      vertical-align middle
      .SCSWL_price
      .SCSWL_priceC
        font-size 0.375rem
      .SCSWL_priceC
        i
          display inline-block
          width 0.34rem
          height 0.34rem
          margin 0 0.078125rem
          background url(../images/cbicon.png) no-repeat center
          background-size 0.34rem
      .SCSWL_priceNum
        margin-left 0.15625rem
        font-size 0.28125rem
        color #999
      .SCSWL_num
        float right
        width auto
        height 0.625rem
        padding 0 0.046875rem
        line-height 0.5625rem
        border 0.015625rem solid #B7B7B7
        border-radius 0.3125rem
        background #fff
        .reduce,span,b
          display none
        .reduce,.add
          font-size 0.375rem
          padding 0 0.0625rem
        b
          padding 0 0.15625rem
          font-size 0.375rem
          font-weight bold
          color #333
        span
          font-size 0.3125rem
          color #BABABA
      .SCSWL_numShow
        padding 0 0.15625rem
        .reduce,span,b
          display inline-block
        .add
          padding
  .SCSWL_delete
    display table-cell
    position absolute
    right 0
    top 0
    z-index 0
    width 1.5rem
    height 100%
    background #F05D4E
    text-align center
    vertical-align middle
    color #fff
    font-size 0.375rem
    b
      position absolute
      top 50%
      right 50%
      margin-top -0.1953125rem
      margin-right -0.375rem
.SCSW_listLeft
  margin-left -1.5rem
  width 11.8125rem
  .SCSWL_delete
    display table-cell
    width 1.5rem

.SCSWL_checkradio
  width 0.875rem
  .SCSW_radio
    margin-left 0.234375rem
.ordCt_total
  text-align right
  padding 0 0.1875rem
  height 1.094rem
  line-height 1.094rem
  color #666
  font-size 0.375rem
  border-bottom 0.015625rem solid rgba(151,151,151,0.5)
  b
    margin-right 0.046875rem
  .SCSWL_price
  .SCSWL_priceC
    margin-left 0.046875rem
    color #FF0000
    font-size 0.375rem
  .SCSWL_priceC
    i
      display inline-block
      width 0.34rem
      height 0.34rem
      margin 0 0.078125rem
      background url(../images/cbicon.png) no-repeat center
      background-size 0.34rem
.ordCt_btnList
  border-bottom 0.015625rem solid rgba(151,151,151,0.5)
  padding 0.28125rem 0.234375rem
  text-align right
  a
    display inline-block
    width 1.71875rem
    height 0.625rem
    background #F2F2F2
    margin-left 0.3125rem
    border 0.015625rem solid #DEDEDE
    line-height 0.625rem
    text-align center
    font-size 0.3125rem
    color #666

