@import 'mod_orderDetails_list'
@import 'mod_shopCarMob_list'

.SCSW_tit
  height 1.094rem
  line-height 1.094rem
  overflow hidden
  padding 0 0.25rem
  .SCSW_edit
    float right
    color #666
    font-size 0.375rem
.SCOC_tit
  height 1.094rem
  line-height 1.094rem
  overflow hidden
  padding 0 0.25rem
  em
    font-size 0.375rem
    color #666
  span
    float right
    color #F05D4E
    font-size 0.375rem
.SCSW_titCon
  display inline-block
.SCSW_checkradio,.SCSWL_checkradio
  .SCSW_radio
    margin-top -0.1rem
    display inline-block
    width 0.421875rem
    height 0.421875rem
    margin-right 0.23rem
    line-height 0.35rem
    border 0.015625rem solid #979797
    border-radius(0.421875rem)
    vertical-align middle
  ckselect()
  em
    font-size 0.4375rem
    color #222

.ShopCar_SofWareMall .SCSW_list:nth-last-child(1),
.ShopCar_CCurrMall .SCSW_list:nth-last-child(1),
.ShopCar_CollegeMall .SCSW_list:nth-last-child(1),
.ShopCar_orderCenter .SCSW_list:nth-last-child(1)
  margin-bottom 0
