.ODSW_list
  width 100%
  background #f2f2f2
  margin-bottom 0.171875rem
  td
    vertical-align middle
  .ODSWL_pic
    width 3.375rem
    padding 0.234375rem  0
    img
      margin-left 0.25rem
      width 2.8125rem
      height 2.8125rem
  .ODSWL_details
    width 6.375rem
    padding 0.234375rem  0.25rem 0.234375rem 0
    vertical-align top
    .ODSWL_detCon
      min-height 2.1rem
      padding-bottom 0.1875rem
      a
        display block
        padding-bottom 0.1875rem
        font-size 0.375rem
        color #333
      h3
        font-size 0.375rem
        color #333
        font-weight normal
      p
        font-size 0.28125rem
        color #999
    .ODSWL_detPrice
      overflow hidden
      vertical-align middle
      .ODSWL_price
      .ODSWL_priceC
        font-size 0.375rem
      .ODSWL_priceC
        i
          display inline-block
          width 0.34rem
          height 0.34rem
          margin 0 0.078125rem
          background url(../images/cbicon.png) no-repeat center
          background-size 0.34rem
      .ODSWL_priceNum
        margin-left 0.15625rem
        font-size 0.28125rem
        color #999
      .ODSWL_num
        float right
        width auto
        height 0.625rem
        padding 0 0.046875rem
        line-height 0.5625rem
        border 0.015625rem solid #B7B7B7
        border-radius 0.3125rem
        background #fff
        .reduce,span,b
          display none
        .reduce,.add
          font-size 0.375rem
          padding 0 0.0625rem
        b
          padding 0 0.15625rem
          font-size 0.375rem
          font-weight bold
          color #333
        span
          font-size 0.3125rem
          color #BABABA
      .ODSWL_numShow
        padding 0 0.15625rem
        .reduce,span,b
          display inline-block
        .add
          padding
.ordCt_total
  text-align right
  padding 0 0.1875rem
  height 1.094rem
  line-height 1.094rem
  color #666
  font-size 0.375rem
  border-bottom 0.015625rem solid rgba(151,151,151,0.5)
  b
    margin-right 0.046875rem
  .ODSWL_price
  .ODSWL_priceC
    margin-left 0.046875rem
    color #FF0000
    font-size 0.375rem
  .ODSWL_priceC
    i
      display inline-block
      width 0.34rem
      height 0.34rem
      margin 0 0.078125rem
      background url(../images/cbicon.png) no-repeat center
      background-size 0.34rem
.ordCt_btnList
  border-bottom 0.015625rem solid rgba(151,151,151,0.5)
  padding 0.28125rem 0.234375rem
  text-align right
  a
    display inline-block
    width 1.71875rem
    height 0.625rem
    background #F2F2F2
    margin-left 0.3125rem
    border 0.015625rem solid #DEDEDE
    line-height 0.625rem
    text-align center
    font-size 0.3125rem
    color #666
.ODSWL_package
  td
    padding 0.1875rem 0.25rem 0
    border-bottom 0.015625rem solid #C7C7C7
    h4
      font-weight normal
      padding-bottom 0.1875rem
      font-size 0.375rem
      color #333
    .package_tit
      overflow hidden
      strong
        display inline-block
        max-width 8.53125rem
        overflow hidden
        padding-bottom 0.1875rem
        font-size 0.375rem
        font-weight normal
        color #333
        white-space nowrap
        text-overflow ellipsis
      span
        float right
        font-size 0.375rem
        color #999
    .package_details
      display inline-block
      max-width 8.53125rem
      padding-bottom 0.1875rem
      overflow hidden
      font-size 0.28125rem
      color #999
      white-space nowrap
      text-overflow ellipsis
.ODSW_list .ODSWL_package:nth-child(2) td
  padding 0 0.25rem
.ODSW_list .ODSWL_package:last-child td
  border-bottom none

