body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1172px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:951px;
  height:2px;
}
#u1465 {
  position:absolute;
  left:100px;
  top:96px;
  width:950px;
  height:1px;
}
#u1466 {
  position:absolute;
  left:2px;
  top:-8px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1467 {
  position:absolute;
  left:100px;
  top:16px;
  width:950px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1468 {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  word-wrap:break-word;
}
#u1469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:170px;
}
#u1469 {
  position:absolute;
  left:100px;
  top:114px;
  width:1072px;
  height:170px;
}
#u1470 {
  position:absolute;
  left:2px;
  top:77px;
  width:1068px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1471 {
  position:absolute;
  left:144px;
  top:119px;
  width:108px;
  height:30px;
}
#u1471_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u1471_input:disabled {
  color:grayText;
}
#u1472 {
  position:absolute;
  left:1071px;
  top:165px;
  width:72px;
  height:30px;
}
#u1472_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u1472_input:disabled {
  color:grayText;
}
